body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 7vw;
  background: #ffffff;
  color: #999999;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  margin-left: 140px;
  padding-top: 15px;
}

.keys-container {
  width: 100%;
  height: auto;
  min-width: 1000px;
  background: #ffffff;
  padding-bottom: 15px;
  border-bottom: 1px solid #bbbbbb;
}

.num-row, .qwerty-row, .asdf-row, .zxcv-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.num-row, .asdf-row {
  margin-left: -50px;
}

.zxcv-row {
  margin-left: 25px;
  width: calc(100% - 25px);
}

.key{
  padding: 1.5vw 0;
  cursor: pointer;
  width: 7vw;
  min-width: 80px;
  float: left;
  color: #ffffff;
  text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  line-height: 3.5vw;
  vertical-align: middle;
}

.key:hover {
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

@media screen and (max-width: 1000px) {

  .keys-container {
    height: 303px;
  }
  .key {
    height: 75px;
    padding: 0;
    width: 80px;
    line-height: 75px;
  }

  .header {
    height: 70px;
  }
}

.metronome-button {
  font-size: 26px;
  width: 90px;
  height: 82px;
  color: #fff;
  line-height: 82px;
  vertical-align: middle;
  text-align: center;
  float: left;
  margin-top: 40px;
}

#play-metronome {
  margin-left: 140px;
  background: #ff3377;
}

#stop-metronome {
  margin-left: 20px;
  background: #ff3377;
}

.metronome-title {
  font-size: 32px;
  font-weight: 700;
  margin-left: 140px;
  padding-top: 15px;
  color: #999999;
}


/*Number Keys 1 - 0*/
#one    { background-color: #83d0c9; }
#two    { background-color: #75cac2; }
#three  { background-color: #68c4bc; }
#four   { background-color: #5bbeb5; }
#five   { background-color: #4eb8af; }
#six    { background-color: #41b3a8; }
#seven  { background-color: #34ada2; }
#eight  { background-color: #27a79b; }
#nine   { background-color: #1aa195; }
#zero   { background-color: #0d9b8e; }

/*QWERTY Row*/
#q { background-color: #ff3377; }
#w { background-color: #ff3e80; }
#e { background-color: #ff4989; }
#r { background-color: #ff5593; }
#t { background-color: #ff609c; }
#y { background-color: #ff6ba6; }
#u { background-color: #ff77af; }
#i { background-color: #ff82b9; }
#o { background-color: #ff8dc2; }
#p { background-color: #ff99cc; }

/*asdf Row*/
#a { background-color: #bbeeff; }
#s { background-color: #afe2ff; }
#d { background-color: #a4d7ff; }
#f { background-color: #99ccff; }
#g { background-color: #8dc0ff; }
#h { background-color: #82b5ff; }
#j { background-color: #77aaff; }
#k { background-color: #6b9eff; }
#l { background-color: #6093ff; }
#colon { background-color: #5588ff; }

/*zxcv Row*/
#z { background-color: #800080; }
#x { background-color: #89108e; }
#c { background-color: #93219c; }
#v { background-color: #9d32aa; }
#b { background-color: #a742b8; }
#n { background-color: #b053c6; }
#m { background-color: #ba64d4; }
#comma  { background-color: #c474e2; }
#period { background-color: #ce85f0; }
#qmark  { background-color: #d896ff; }
