.keys-container {
  width: 100%;
  height: 70vh;
  background: #e0e2e4;
}

.num-row {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.key{
  height: 100px;
  width: 100px;
  float: left;
  color: #ffffff;
}

.key:hover {
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

/*Number Keys 1 - 0*/
#one    { background-color: #83d0c9; }
#two    { background-color: #75cac2; }
#three  { background-color: #68c4bc; }
#four   { background-color: #5bbeb5; }
#five   { background-color: #4eb8af; }
#six    { background-color: #41b3a8; }
#seven  { background-color: #34ada2; }
#eight  { background-color: #27a79b; }
#nine   { background-color: #1aa195; }
#zero   { background-color: #0d9b8e; }

