/***************/
/*General Style*/
/***************/

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/**************/
/*Header Style*/
/**************/

.header {
  background: #ffffff;
  color: #999999;
  height: 6vw;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  margin-left: 140px;
  padding-top: 15px;
}


/***********/
/*Key Style*/
/***********/

.keys-container {
  background: #ffffff;
  border-bottom: 1px solid #bbbbbb;
  height: auto;
  padding-bottom: 15px;
  min-width: 1000px;
  width: 100%;
}

.key{
  color: #ffffff;
  cursor: pointer;
  float: left;
  line-height: 3.5vw;
  min-width: 80px;
  padding: 1.5vw 0;
  text-align: center;
  transition: .2s all linear;
  vertical-align: middle;
  width: 7vw;
}

.key:hover {
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

.key-press {
  -webkit-filter: opacity(.8);
  filter: opacity(.8);
}

.asdf-row,
.num-row,
.qwerty-row,
.zxcv-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
  width: 100%;
}

.asdf-row,
.num-row {
  margin-left: -50px;
}

.zxcv-row {
  margin-left: 25px;
  width: calc(100% - 25px);
}


@media screen and (max-width: 1000px) {

  .keys-container {
    height: 303px;
  }

  .key {
    height: 75px;
    line-height: 75px;
    padding: 0;
    width: 80px;
  }

  .header {
    height: 70px;
  }

}


/**************/
/*Record Style*/
/**************/

.record {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  float: left;
  background: #eeeeee;
  width: 100%;
}

.record-key {
  border-radius: 50%;
  color: white;
  cursor: pointer;
  float: left;
  transition: .1s background linear, .1s color linear;
}

.start-record {
  background: #ffffff;
  border: 1px solid #83d0c9;
  color: #83d0c9;
  font-size: 20px;
  line-height: 9px;
  margin-left: 140px;
  padding: 8px 7.5px 10px 7.5px;
}

.start-record:hover {
  background: #83d0c9;
  color: #ffffff;
}

.play-record {
  background: #ffffff;
  border: 1px solid #800080;
  color: #800080;
  margin-left: 10px;
  padding: 6px 6px 6px 8px;
}

.play-record:hover {
  background: #800080;
  color: #ffffff;
}

.stop-record {
  background: #ffffff;
  border: 1px solid #ff3377;
  color: #ff3377;
  font-size: 27px;
  line-height: 10px;
  margin-left: 10px;
  padding: 7px 7px 10px 7px;
}

.stop-record:hover {
  background: #ff3377;
  color: #ffffff;
}

.recording {
  background: #f37736;
  border: 1px solid #f37736;
  color: #fff;
}


/*****************/
/*Metronome Style*/
/*****************/

.metronome {
  float: left;
  margin-left: 140px;
  width: 200px;
}

.metronome-button,
.record-button {
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 22px;
  height: 82px;
  margin-top: 40px;
  line-height: 82px;
  text-align: center;
  vertical-align: middle;
  width: 90px;
}

.metronome-title{
  color: #999999;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  padding-top: 15px;
}

.play-metronome {
  background: #83d0c9;
}

.stop-metronome {
  background: #ff3377;
  margin-left: 20px;
}


/*********/
/*Helpers*/
/*********/

.hide {
  display: none;
}



/***********/
/*Key Style*/
/***********/

/*Number Keys 1 - 0*/
.one    { background-color: #83d0c9; }
.two    { background-color: #75cac2; }
.three  { background-color: #68c4bc; }
.four   { background-color: #5bbeb5; }
.five   { background-color: #4eb8af; }
.six    { background-color: #41b3a8; }
.seven  { background-color: #34ada2; }
.eight  { background-color: #27a79b; }
.nine   { background-color: #1aa195; }
.zero   { background-color: #0d9b8e; }

/*QWERTY Row*/
.q { background-color: #ff3377; }
.w { background-color: #ff3e80; }
.e { background-color: #ff4989; }
.r { background-color: #ff5593; }
.t { background-color: #ff609c; }
.y { background-color: #ff6ba6; }
.u { background-color: #ff77af; }
.i { background-color: #ff82b9; }
.o { background-color: #ff8dc2; }
.p { background-color: #ff99cc; }

/*asdf Row*/
.a { background-color: #bbeeff; }
.s { background-color: #afe2ff; }
.d { background-color: #a4d7ff; }
.f { background-color: #99ccff; }
.g { background-color: #8dc0ff; }
.h { background-color: #82b5ff; }
.j { background-color: #77aaff; }
.k { background-color: #6b9eff; }
.l { background-color: #6093ff; }
.colon { background-color: #5588ff; }

/*zxcv Row*/
.z { background-color: #800080; }
.x { background-color: #89108e; }
.c { background-color: #93219c; }
.v { background-color: #9d32aa; }
.b { background-color: #a742b8; }
.n { background-color: #b053c6; }
.m { background-color: #ba64d4; }
.comma  { background-color: #c474e2; }
.period { background-color: #ce85f0; }
.qmark  { background-color: #d896ff; }
